.khan {
    padding-top: 105px;
    background-color: #F2F2F2;
}

.khan__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.khan__author {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

.khan__title {
    margin: 0;
    padding-bottom: 50px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
}

.khan__quote {
    width: 790px;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 36px;
}

.khan__quote-author {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.khan__quote-author-subline {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 68px;
}

.khan__book-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 608px;
    overflow-y: hidden;
}

.khan__book-pic {
    margin: 0;
    width: 620px;
    height: 946px;
    padding-right: 48px;
}

.khan__buy-link {
    margin: 0;
    height: 42px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}