.footer__column_content_copyright {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    z-index: 1;
    align-self: flex-start;
    padding-bottom: 18px;
}
