.kaufman {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #1F1F1F;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}