.section-title_theme_dark {
   color: white;
}

.section-subtitle_theme_dark {
    
    color: white;  
}


.table__cell_theme_dark {
    width: 200px;
    color: white;
}

.table__heading_theme_dark {
    padding-top: 80px;
}
