.header__subtitle {
    position: absolute;
    margin: 0;
    width: 388px;
    display: flex;
    flex-direction: column;
    bottom: 30px;
    left: 64px;
    z-index: 3;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}